@media(max-width: 991px){
.brand-display {
	display: block;
}
.brand-none {
	display: none;
}
.contacts_info {
	margin-bottom:50px;
}
.contacts_info:last-child {
	margin-bottom:0px;
}
.nav-item a {
	border-bottom: 1px solid #c01418;
}
.nav-item a:first-child {
	border-top: 1px solid #c01418;
}
}
@media(max-width: 1602px){
.line {
	display: none;
}
}
@media screen and ( -webkit-min-device-pixel-ratio : 0 )	 { 
  .feedback { 
    background-image: url(img/feedback.jpg); 
  } 
}
@media(max-width: 1813px){
.news_container .wrapper .flexcontainer a:first-child {
	margin-top: 0;
}
}
@media(max-width: 1599px){
.inf {
	margin-top:0px;
}
}
@media (pointer:coarse){
.photos {
	background-attachment: scroll;
}
.feedback {
	    background-attachment: scroll;
}
}