@media(max-width: 991px){
.brand-display {
	display: block;
}
.brand-none {
	display: none;
}
.contacts_info {
	margin-top:50px;
}
.inf {
	margin-top:30px;
}
.nav-item a {
	border-bottom: 1px solid #c01418;
}
}
@media(max-width: 1602px){
.line {
	display: none;
}
}
@media screen and ( -webkit-min-device-pixel-ratio : 0 )	 { 
  .feedback { 
    background-image: url(img/feedback.jpg); 
  } 
}